#extended-tooltip {
    position: fixed;
    display: none;
    width: 400px;
    height: 265px;
    background-color: #1abc9c;
    color: #fff;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}

#extended-tooltip.isOpen {
    display: block;
}

#extended-tooltip-detail-district-info {
    font-size: 14px;
    overflow-y: scroll;
    height: 160px;
}

.extended-tooltip-close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    cursor: hand;
    color: rgba(255,255,255,0.7);
}

.extended-tooltip-close-button:hover {
    color: rgba(255,255,255,1);
}

#pills-tab {
    border-bottom: 1px solid #fff;
    margin: 0 10px;
}

#pills-tab .nav-link {
    background-color: transparent;
    font-weight: normal;
    text-decoration: underline;
    color: #fff;
    width: 120px;
}

#pills-tab .nav-link.active {
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}

#extended-tooltip-detail-district-info {
  padding: 0 20px 10px 20px;
}

#extended-tooltip-district-name {
  padding: 20px 0 0 20px;
}

.table-stimmen {
    width: 100%;
}

.table-stimmen td {
    white-space: nowrap;
}

.table-stimmen td:nth-child(2) {
    padding: 0 1em;
}

.table-sm td, .table-sm th {
    /* overwrite bootstrap */
    padding: 0;
}

#extended-tooltip .bar {
    margin-bottom: 5px;
}
