#extended-tooltip{
    position: fixed;
    display: none;
    width: 350px;
    height: 250px;
    background-color: #1abc9c;
    color: #fff;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}

#extended-tooltip.isOpen{
    display: block;
}

#extended-tooltip-detail-district-info{
    font-size: 14px;
    overflow-y: scroll;
    height: 198px;
}

.extended-tooltip-close-button {
    cursor: pointer;
    cursor: hand;
    color: rgba(255,255,255,0.7);
}

.extended-tooltip-close-button:hover {
    color: rgba(255,255,255,1);
}

.nav-pills {
    margin: 0 5px;
}

.nav-pills .nav-link {
    background-color: #fff;
    color: #000;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color:#1abc9c;
}

#extended-tooltip-detail-district-info {
  padding: 10px 20px 10px 20px;
}

#extended-tooltip-district-name {
  padding: 20px 0 0 20px;
}

.table-erststimme {
    width: 100%;
}

.table-zweitstimme {
    width: 100%;
}
.table-sm td, .table-sm th {
    /* overwrite bootstrap */
    padding: 0;
}
