#extended-tooltip{
    position: fixed;
    display: none;
    width: 350px;
    height: 250px;
    background-color: #1abc9c;
    color: #fff;
    padding: 20px;
    left: 20px;
    bottom: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 100;
}

#extended-tooltip.isOpen{
    display: block;
}

#extended-tooltip-detail-district-info{
    font-size: 14px;
    overflow-y: scroll;
    height: 198px;
}

.extended-tooltip-close-button {
    cursor: pointer;
    cursor: hand;
    color: rgba(255,255,255,0.7);
}

.extended-tooltip-close-button:hover {
    color: rgba(255,255,255,1);
}

.nav-pills .nav-link {color: #fff;}
.nav-pills .nav-link.active {background-color: #fff; color: #000;}

.table-erststimme {
    width: 100%;
}

.table-zweitstimme {
    width: 100%;
}
.table-sm td, .table-sm th {
    /* overwrite bootstrap */
    padding: 0;
}